@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Mono', monospace;
  width: 100vw;
  height: 100vh;
}

body main {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}

body main section:nth-of-type(1) {
  background-color: #E0E0E6;
  color: #293542;
}

body main section:nth-of-type(1) .page-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body main section:nth-of-type(1) .page-1 .intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section:nth-of-type(1) .page-1 .intro .common {
  height: 60%;
}

body main section:nth-of-type(1) .page-1 .intro .common .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main section:nth-of-type(1) .page-1 .intro .common .name b {
  font-size: 6vw;
  -webkit-animation: type 3s steps(12), textCursor 0.75s steps(12) infinite normal;
          animation: type 3s steps(12), textCursor 0.75s steps(12) infinite normal;
  border-right: 10px solid #34414d;
  overflow: hidden;
  white-space: nowrap;
}

@-webkit-keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}

@-webkit-keyframes textCursor {
  0% {
    border-right-color: #475766;
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes textCursor {
  0% {
    border-right-color: #475766;
  }
  100% {
    border-right-color: transparent;
  }
}

body main section:nth-of-type(1) .page-1 .intro .common .job {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main section:nth-of-type(1) .page-1 .intro .common .job h3 {
  font-size: 2.5vw;
}

body main section:nth-of-type(1) .page-1 .intro .summary {
  height: 40%;
  color: #8841fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section:nth-of-type(1) .page-1 .intro .summary p {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15vh;
  font-size: 24px !important;
  text-align: justify;
}

@media only screen and (max-width: 848px) {
  body main section:nth-of-type(1) .page-1 .intro .summary p {
    font-size: 16px !important;
  }
}

body main section:nth-of-type(2) {
  background-color: #D4D4D9;
  color: #fefefe;
}

body main section:nth-of-type(2) .page-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  overflow-x: auto;
}

body main section:nth-of-type(2) .page-2 .title {
  font-size: 3.5vmax;
  text-align: center;
  color: #0f0c08;
  width: 100%;
  min-width: 848px;
  margin-top: 100px;
}

body main section:nth-of-type(2) .page-2 .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 848px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

body main section:nth-of-type(2) .page-2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #252324;
  height: 400px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 1em;
  -webkit-box-shadow: -0.25rem 0 1.5rem #fefefe;
          box-shadow: -0.25rem 0 1.5rem #fefefe;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 4px solid #ffab35;
}

body main section:nth-of-type(2) .page-2 .card-header > p {
  margin-bottom: 10px;
}

body main section:nth-of-type(2) .page-2 .card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

body main section:nth-of-type(2) .page-2 .card:hover ~ .card {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

body main section:nth-of-type(2) .page-2 .card:not(:first-child) {
  margin-left: -130px;
}

body main section:nth-of-type(2) .page-2 .card-author {
  position: relative;
  right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin:3rem 0 0; */
  /* margin-right:4em; */
}

body main section:nth-of-type(2) .page-2 .author-avatar img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 16px 10px;
}

body main section:nth-of-type(2) .page-2 .author-name {
  position: relative;
  left: 0.5rem;
  top: 0.2rem;
  color: #9dc29d;
  font: normal;
  font-weight: 800;
}

@media screen and (max-width: 848px) {
  body main section:nth-of-type(2) .page-2 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(2) .page-2 .card {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  body main section:nth-of-type(2) .page-2 .title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
    min-width: 360px;
    font-weight: 800;
  }
  body main section:nth-of-type(2) .page-2 .card {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 8px;
    width: 60vw;
    height: 40vh;
  }
  body main section:nth-of-type(2) .page-2 .card-header h2 {
    font-size: 20px;
  }
  body main section:nth-of-type(2) .page-2 .card:not(:first-child) {
    margin-left: 0px;
  }
  body main section:nth-of-type(2) .page-2 .card-list {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    min-width: 360px;
  }
  body main section:nth-of-type(2) .page-2 .card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body main section:nth-of-type(2) .page-2 .card:hover ~ .card {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 360px) {
  body main section:nth-of-type(2) .page-2 .card {
    width: 200px;
    height: 300px;
  }
}

body main section:nth-of-type(3) {
  background-color: #C8C8CC;
}

body main section:nth-of-type(4) {
  background-color: #BCBCC0;
}

body main section:nth-of-type(4) .page-4 {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section:nth-of-type(4) .page-4 .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid black;
  color: #1F2226;
  border-radius: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  width: 80%;
  min-width: 275px;
  padding: 10px;
}

body main section:nth-of-type(4) .page-4 .contact-card .title {
  font-size: 3.5vmax;
  text-align: center;
}

body main section:nth-of-type(4) .page-4 .contact-card .about {
  text-align: justify;
  margin-top: 0.5vw;
  font-size: 16px;
  width: 95%;
}

body main section:nth-of-type(4) .page-4 .contact-card form {
  width: 95%;
  padding: 12px 0px;
}

body main section:nth-of-type(4) .page-4 .contact-card form button {
  border: none;
  border-radius: 0.3rem;
  padding: 4px;
  font-size: 16px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 0;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp .field {
  background: rgba(254, 254, 254, 0.2);
  border: 0px solid;
  margin-bottom: 0.25vw;
  font-size: 20px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp label {
  font-size: 18px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp textarea {
  resize: none;
}

@media screen and (max-width: 600px) {
  body main section:nth-of-type(1) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(1) .page-1 .intro .common .name b {
    font-size: 42px;
  }
  body main section:nth-of-type(1) .page-1 .intro .common .job h3 {
    font-size: 20px;
  }
  body main section:nth-of-type(1) .page-1 .intro .summary p {
    font-size: 14px !important;
  }
  body main section:nth-of-type(2) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(3) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(4) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(4) .page-4 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(4) .page-4 .contact-card .about {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */