@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Mono", monospace;
  width: 100vw;
  height: 100vh;
}
body ::-webkit-scrollbar {
  display: none;
}
body .navigation {
  position: absolute;
  width: 100%;
  background: rgba(165, 159, 159, 0.2);
  z-index: 1;
}
body .navigation ul {
  width: 100%;
  background-color: transparent;
  display: inline-flex;
  justify-content: space-around;
}
body .navigation ul li {
  color: white;
  font-size: 1.5em;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}
body .navigation ul a {
  color: #fff;
  text-decoration: none;
}
body .navigation ul li:hover {
  background-color: #000;
}
body .navigation ul .one a {
  color: #d8d8f1;
}
body .navigation ul .four a {
  color: #3f88ee;
}
@media screen and (max-width: 600px) {
  body .navigation {
    display: none;
  }
}
body main {
  width: 100%;
  height: 100%;
  z-index: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
body main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}
body main section:nth-of-type(1) {
  background-color: #171717;
  color: #d8d8f1;
}
body main section:nth-of-type(1) #page-1 {
  display: flex;
  flex-grow: 1;
}
body main section:nth-of-type(1) #page-1 .intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section:nth-of-type(1) #page-1 .intro .common {
  height: 60%;
}
body main section:nth-of-type(1) #page-1 .intro .common .name {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: flex-end;
}
body main section:nth-of-type(1) #page-1 .intro .common .name b {
  font-size: 6vw;
  -webkit-animation: type 3s steps(12), textCursor 0.75s steps(12) infinite normal;
          animation: type 3s steps(12), textCursor 0.75s steps(12) infinite normal;
  border-right: 10px solid #34414d;
  overflow: hidden;
  white-space: nowrap;
}
@-webkit-keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}
@-webkit-keyframes textCursor {
  0% {
    border-right-color: #c5c5f8;
  }
  100% {
    border-right-color: transparent;
  }
}
@keyframes textCursor {
  0% {
    border-right-color: #c5c5f8;
  }
  100% {
    border-right-color: transparent;
  }
}
body main section:nth-of-type(1) #page-1 .intro .summary {
  height: 40%;
  color: #9757ff;
  display: flex;
  align-items: center;
}
body main section:nth-of-type(1) #page-1 .intro .summary p {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15vh;
  font-size: 24px !important;
  text-align: justify;
}
@media only screen and (max-width: 848px) {
  body main section:nth-of-type(1) #page-1 .intro .summary p {
    font-size: 16px !important;
  }
}
body main section:nth-of-type(2) {
  background-color: #202020;
  color: #fefefe;
}
body main section:nth-of-type(2) #page-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-x: auto;
}
body main section:nth-of-type(2) #page-2 .title {
  font-size: 3.5vmax;
  text-align: center;
  color: #d4d4d9;
  width: 100%;
  min-width: 1200px;
  margin-top: 100px;
}
body main section:nth-of-type(2) #page-2 .card-list {
  display: flex;
  margin-top: 40px;
  flex-grow: 1;
  min-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
body main section:nth-of-type(2) #page-2 .card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  background: #252324;
  height: 400px;
  min-width: 300px;
  max-width: 300px;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: -0.85rem 1rem 1.5rem #000;
  transition: 300ms;
  border: 4px solid #ffab35;
  cursor: default;
}
body main section:nth-of-type(2) #page-2 .card-header > p {
  margin-bottom: 10px;
  font-size: 1.5em;
}
body main section:nth-of-type(2) #page-2 .card:hover {
  transform: translateY(-1rem);
}
body main section:nth-of-type(2) #page-2 .card:hover p {
  color: #64dbf8;
}
body main section:nth-of-type(2) #page-2 .card:hover h2 {
  color: #ff9050;
}
body main section:nth-of-type(2) #page-2 .card:hover ~ .card {
  transform: translateX(130px);
}
body main section:nth-of-type(2) #page-2 .card:not(:first-child) {
  margin-left: -130px;
}
body main section:nth-of-type(2) #page-2 .card-author {
  position: relative;
  right: 1rem;
  bottom: 0rem;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  /* margin:3rem 0 0; */
  /* margin-right:4em; */
}
body main section:nth-of-type(2) #page-2 .author-avatar img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 16px 10px;
}
body main section:nth-of-type(2) #page-2 .author-name {
  position: relative;
  left: 0.5rem;
  top: 0.2rem;
  color: #9dc29d;
  font: normal;
  font-weight: 800;
}
@media screen and (max-width: 848px) {
  body main section:nth-of-type(2) #page-2 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(2) #page-2 .card {
    height: 360px;
  }
}
@media screen and (max-width: 600px) {
  body main section:nth-of-type(2) #page-2 .title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
    min-width: 360px;
    font-weight: 800;
  }
  body main section:nth-of-type(2) #page-2 .card {
    box-shadow: none;
    margin: 8px;
    width: 50vw;
    height: 45vh;
  }
  body main section:nth-of-type(2) #page-2 .card-header h2 {
    font-size: 20px;
  }
  body main section:nth-of-type(2) #page-2 .card:not(:first-child) {
    margin-left: 0px;
  }
  body main section:nth-of-type(2) #page-2 .card-list {
    margin-top: 0px;
    flex-direction: column;
    width: auto;
    min-width: 360px;
  }
  body main section:nth-of-type(2) #page-2 .card:hover {
    transform: translateY(0);
  }
  body main section:nth-of-type(2) #page-2 .card:hover ~ .card {
    transform: translateX(0);
  }
}
@media screen and (max-width: 360px) {
  body main section:nth-of-type(2) #page-2 .card {
    width: 200px;
    height: 300px;
  }
}
body main section:nth-of-type(3) {
  background-color: #232323;
}
body main section:nth-of-type(3) #page-4 {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: default;
}
body main section:nth-of-type(3) #page-4 .contact-card {
  display: flex;
  border: 2px solid #505251;
  color: #3f88ee;
  border-radius: 1em;
  flex-direction: column;
  max-width: 500px;
  width: 80%;
  min-width: 275px;
  padding: 10px;
}
body main section:nth-of-type(3) #page-4 .contact-card .title {
  font-size: 3.5vmax;
  text-align: center;
}
body main section:nth-of-type(3) #page-4 .contact-card .about {
  text-align: justify;
  margin-top: 0.5vw;
  font-size: 16px;
}
body main section:nth-of-type(3) #page-4 .contact-card form {
  padding: 12px 0px;
}
body main section:nth-of-type(3) #page-4 .contact-card form button {
  border: none;
  border-radius: 0.3rem;
  padding: 4px;
  font-size: 16px;
}
body main section:nth-of-type(3) #page-4 .contact-card form > .inp {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
body main section:nth-of-type(3) #page-4 .contact-card form > .inp .field {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  border: 0px solid;
  margin-bottom: 0.25vw;
  font-size: 20px;
}
body main section:nth-of-type(3) #page-4 .contact-card form > .inp label {
  font-size: 18px;
}
body main section:nth-of-type(3) #page-4 .contact-card form > .inp textarea {
  resize: none;
}
@media screen and (max-width: 600px) {
  body main section:nth-of-type(1) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(1) #page-1 .intro .common .name b {
    font-size: 42px;
  }
  body main section:nth-of-type(1) #page-1 .intro .summary p {
    font-size: 14px !important;
  }
  body main section:nth-of-type(2) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(3) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(3) #page-4 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(3) #page-4 .contact-card .about {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */