@import url(/home/kathir/Desktop/portfolio-website/css/meyer-reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Mono', monospace;
  width: 100vw;
  height: 100vh;
}

body main {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}

body main section:nth-of-type(1) {
  background-color: #19dac3;
}

body main section:nth-of-type(2) {
  background-color: #586af4;
  color: #fefefe;
}

body main section:nth-of-type(2) .page-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  overflow-x: auto;
}

body main section:nth-of-type(2) .page-2 .title {
  font-size: 3.5vmax;
  text-align: center;
  width: 100%;
  min-width: 848px;
  margin-top: 100px;
}

body main section:nth-of-type(2) .page-2 .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 848px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

body main section:nth-of-type(2) .page-2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #252324;
  height: 400px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 1em;
  -webkit-box-shadow: -0.5rem 0 2.5rem #586af4;
          box-shadow: -0.5rem 0 2.5rem #586af4;
  -webkit-transition: 275ms;
  transition: 275ms;
  border: 4px solid #ffab35;
}

body main section:nth-of-type(2) .page-2 .card-header > p {
  margin-bottom: 10px;
}

body main section:nth-of-type(2) .page-2 .card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

body main section:nth-of-type(2) .page-2 .card:hover ~ .card {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

body main section:nth-of-type(2) .page-2 .card:not(:first-child) {
  margin-left: -130px;
}

body main section:nth-of-type(2) .page-2 .card-author {
  position: relative;
  right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin:3rem 0 0; */
  /* margin-right:4em; */
}

body main section:nth-of-type(2) .page-2 .author-avatar img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 16px 10px;
}

body main section:nth-of-type(2) .page-2 .author-name {
  position: relative;
  left: 0.5rem;
  top: 0.2rem;
  color: #9dc29d;
  font: normal;
  font-weight: 800;
}

@media screen and (max-width: 848px) {
  body main section:nth-of-type(2) .page-2 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(2) .page-2 .card {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  body main section:nth-of-type(2) .page-2 .title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
    min-width: 360px;
    font-weight: 800;
  }
  body main section:nth-of-type(2) .page-2 .card {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 8px;
    width: 50vw;
    height: 40vh;
  }
  body main section:nth-of-type(2) .page-2 .card-header h2 {
    font-size: 20px;
  }
  body main section:nth-of-type(2) .page-2 .card:not(:first-child) {
    margin-left: 0px;
  }
  body main section:nth-of-type(2) .page-2 .card-list {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    min-width: 360px;
  }
  body main section:nth-of-type(2) .page-2 .card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body main section:nth-of-type(2) .page-2 .card:hover ~ .card {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 360px) {
  body main section:nth-of-type(2) .page-2 .card {
    width: 200px;
    height: 300px;
  }
}

body main section:nth-of-type(3) {
  background-color: #fc495e;
}

body main section:nth-of-type(4) {
  background-color: #e4cd20;
}

body main section:nth-of-type(4) .page-4 {
  border: 2px solid;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section:nth-of-type(4) .page-4 .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid navy;
  color: #3589ff;
  border-radius: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  width: 80%;
  min-width: 275px;
  padding: 10px;
}

body main section:nth-of-type(4) .page-4 .contact-card .title {
  font-size: 3.5vmax;
  text-align: center;
}

body main section:nth-of-type(4) .page-4 .contact-card .about {
  text-align: justify;
  margin-top: 0.5vw;
  font-size: 16px;
  width: 95%;
}

body main section:nth-of-type(4) .page-4 .contact-card form {
  width: 95%;
  padding: 12px 0px;
}

body main section:nth-of-type(4) .page-4 .contact-card form button {
  border: none;
  padding: 4px;
  font-size: 16px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 0;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp .field {
  background: rgba(254, 254, 254, 0.2);
  border: 0px solid;
  margin-bottom: 0.25vw;
  font-size: 20px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp label {
  font-size: 18px;
}

body main section:nth-of-type(4) .page-4 .contact-card form > .inp textarea {
  resize: none;
}

@media screen and (max-width: 848px) {
  body main section:nth-of-type(1) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(2) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(3) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(4) {
    scroll-snap-align: none;
  }
  body main section:nth-of-type(4) .page-4 .title {
    font-weight: 800;
  }
  body main section:nth-of-type(4) .page-4 .contact-card .about {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */