
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@mixin heading{
    font-size: 3.5vmax;
    text-align: center;
}

body{
    font-family: 'DM Mono', monospace;
    width:100vw;
    height:100vh;

    main{
        width:100%;
        height:100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100vw;
            min-height: 100vh;
            scroll-snap-align: start;
            
            // .common{
            //     // min-width: 1200px;
            // }

            &:nth-of-type(1){
                background-color: #19dac3;
            }
    
            &:nth-of-type(2){
                background-color: #586af4;
                color:#fefefe;
                
                .page-2{
                    // border: 10px solid black;
                    // max-width: 1200px;
                    
                    display:flex;
                    flex-direction: column;
                    flex-grow:1;
                    width:100%;
                    overflow-x: auto;
                    // border: 2px solid greenyellow;
                    
                    .title{
                        @include heading;
                        // margin:10px;
                        width:100%;
                        min-width: 848px;
                        margin-top: 100px;
                        // border:2px solid red;
                        
                    }
            
                    .card-list{
                        display:flex;
                        // margin:10px;
                        margin-top: 40px;
                        flex-grow:1;
                        min-width: 848px;
                        justify-content: center;
                        align-items:center;
                        // border:2px solid red; 
                        padding: 3em;
                        // border:3px solid #B026FF;
                    }
            
                    .card{
                        display:flex;
                        position:relative;
                        flex-direction: column;
                        justify-content: space-around;
                        background: #252324;
                        height: 400px;
                        width: 300px;
                        min-width: 250px;
                        padding: 1.5rem;
                        border-radius: 1em;
                        box-shadow: -0.5rem 0 2.5rem #586af4;
                        transition: 275ms;
                        border:4px solid #ffab35
                    }
            
                    .card-header > p{
                        margin-bottom:10px;
                        // border:2px solid;
                    }
                    
                    .card:hover{
                        transform: translateY(-1rem);
                    }
                    
                    .card:hover~.card {
                        transform: translateX(130px);
                    }
                    
                    .card:not(:first-child){
                        margin-left: -130px;
                    }
                    
                    .card-author {
                        position:relative;
                        right:1rem;
                        display:grid;
                        grid-template-columns: 75px 1fr;
                        align-items:center;
                        /* margin:3rem 0 0; */
                        /* margin-right:4em; */
                        // border:2px solid blue; 
                    }
                    .author-avatar img {
                        display: block;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin: 16px 10px;
                    }
                    
                    .author-name{
                        // border:1px solid red; 
                        position:relative;
                        left:0.5rem;
                        top:0.2rem;
                        color: #9dc29d;
                        font: normal;
                        font-weight: 800;
                    }
                    
                
                }

                @media screen and (max-width:848px){
                    .page-2{
                        .title{
                            font-weight: 800;
                        }

                        .card{
                            height:360px;
                        }
                    }
                }

                @media screen and (max-width:600px){
                    .page-2{
                        .title{
                            font-size: 36px;
                            margin-top:50px;
                            margin-bottom:0;
                            min-width: 360px;
                            font-weight: 800;

                        }
                        .card{
                            box-shadow: none;
                            margin:8px;
                            width: 50vw;
                            height: 40vh;
                        }
                        .card-header{
                            h2{
                                font-size: 20px;
                            }
                        }
                        .card:not(:first-child){
                            margin-left: 0px;
                        }
                        .card-list{
                            margin-top: 0px;
                            flex-direction: column;
                            width:auto;
                            min-width: 360px;
                        }
                        .card:hover{
                            transform: translateY(0);
                        }
                        
                        .card:hover~.card {
                            transform: translateX(0);
                        }
                    }
                }

                @media screen and (max-width:360px) {
                    .page-2{
                        .card{
                            width:200px;
                            height:300px
                        }
                    }
                }
            }
    
            &:nth-of-type(3){
                background-color: #fc495e;
            }
    
            &:nth-of-type(4){
                background-color: #e4cd20;
                .page-4{
                    border:2px solid;
                    width:100%;
                    height:100%;
                    overflow-x: auto;
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    .contact-card{
                        display: flex;
                        border:2px solid navy;
                        color:#3589ff;
                        border-radius: 1em;
                        flex-direction: column;
                        
                        max-width: 600px;
                        width:80%;
                        // justify-content: center;
                        min-width:275px;
                        // margin-left:20px;
                        padding:10px;
                        .title{
                            @include heading;
                            // border:2px solid navy;
                        }
            
                        .about{
                            // border:2px solid green;
                            text-align:justify;
                            margin-top: 0.5vw;
                            font-size:16px;
                            width:95%;
                        }
            
                        form{
                            width: 95%;
                            // border:2px solid black;
                            padding: 12px 0px;
                            button{
                                border:none;
                                padding:4px;
                                font-size: 16px;
                            }
                        }
            
                        form > .inp{
                            display:flex;
                            flex-direction: column;
                            margin: 8px 0;
                            
                            .field{
                                background: rgba($color: #fefefe, $alpha: 0.2);
                                border: 0px solid;
                                margin-bottom:0.25vw;
                                font-size: 20px;
                            }
                            
                            label{
                                font-size: 18px;
                            }
                            textarea{
                                resize:none;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:848px){
        main{
            section{
                &:nth-of-type(1){
                    scroll-snap-align: none;
                }
                &:nth-of-type(2){
                    scroll-snap-align: none;
                }
                &:nth-of-type(3){
                    scroll-snap-align: none;
                }
                &:nth-of-type(4){
                    scroll-snap-align: none;
                    .page-4{
                        .title{
                            font-weight: 800;
                        }

                        .contact-card{
                            .about{
                                font-size: 12px;
                            }

                        }
                    }
                }

            }
        }
    }
}