
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


@mixin heading{
    font-size: 3.5vmax;
    text-align: center;
}

body{
    ::-webkit-scrollbar {
        display: none;
    }
    
    font-family: 'DM Mono', monospace;
    width:100vw;
    height:100vh;
    .navigation{
        position:absolute;
        width:100%;
        // height:100vh;
        background: rgba(165, 159, 159, 0.2);
        // border:2px solid #234daf;
        
        // right:1em;
        z-index: 1;
        ul{
            width:100%;
            background-color: transparent;
            display: inline-flex;
            // justify-content: space-around;
            li{
                color: white;
                
                flex-grow: 1;
                // padding:0 1em;
                // border:1px solid lime;
                list-style: none;
                a{
                    display: flex;
                    font-size: 1.5em;
                    // text-align: center;
                    justify-content: center;
                    // border:1px solid blueviolet;
                    color:inherit;
                    text-decoration: none;
                    @media screen and (max-width:800px){
                        font-size: 1em;
                    }
                }
            }
            
            li:hover{
                background-color: #000;
            }
            
            .four{
                a{
                    color:#3f88ee;
                }
            }
        }
        
        @media screen and (max-width:600px){
            display:none;
        }
    }

    main{
        width:100%;
        height:100%;
        z-index:0;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100vw;
            min-height: 100vh;
            scroll-snap-align: start;

            &:nth-of-type(1){
                background-color: #171717;
                color:#d8d8f1;
                #about-me{
                    display: flex;
                    flex-grow: 1;
                    .intro{
                        // display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .common{
                            height:60%;
                            // border:2px solid greenyellow;
                            .name{
                                // flex-grow: 2;
                                display:flex;
                                height:75%;
                                justify-content: center;
                                align-items: flex-end;
                                // border:2px solid blue;
                                b{
                                    // border:2px solid blue;
                                    font-size: 6vw;
                                    animation: type 3s steps(12),
                                                textCursor 0.75s steps(12) infinite normal;
                                    border-right: 10px solid #34414d;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    @keyframes type{
                                        0% {
                                            width: 0ch;
                                        }
                                        100%{
                                            width: 12ch;
                                        }
                                    }

                                    @keyframes textCursor{
                                        0% {
                                            border-right-color: #c5c5f8;
                                        }
                                        100% {
                                            border-right-color: transparent;
                                        }
                                    }
        
                                }
                            }
                            

                            
                        }
                        
                        .summary{
                            height: 40%;
                            // border:2px solid green;
                            color: #9757ff;
                            display:flex;
                            align-items: center;
                            // padding:24px;
                            p{
                                // border: 2px solid red;
                                margin-left: 10vw;
                                margin-right: 10vw;
                                margin-bottom: 15vh;
                                font-size: 24px !important;
                                text-align: justify;
                            }
                            @media only screen and (max-width: 848px){
                                p{
                                    font-size: 16px !important;
                                }
                            }
                        }
                        
                    }
                }
                
            }

            &:nth-of-type(2){
                background-color: #202020;
                #xp-skills{
                    width: 100%;
                    height: 100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: column;
                    .empty{
                        margin-top: 0px;
                        height:10vh;
                        // border:1px solid goldenrod;
                    }
                    // flex-grow: 1;

                    .modal{
                        display:flex;
                        // flex-direction: column;
                        
                        margin: 3em;
                        // width: 100%;
                        // max-height:60vh;
                        .past-exp-container{
                            // border:4px solid cornflowerblue;
                            border-right: 2px solid cornflowerblue;
                            width:50%;
                            min-width:360px;
                            color:white;
                            display:flex;
                            flex-wrap: wrap;
                            padding:3em 1em;

                            .title{
                                // border:1px solid blue;
                                @include heading;
                                color:#d4d4d9;
                                margin-bottom:0.5em;
                                // height: 15vh;
                                width:100%;
                            }

                            input{
                                display:none
                            }

                            label{
                                // border:4px solid #ff5412;
                                // position:relative;
                                // top:-2em;
                                // border:1px solid yellowgreen;
                                color:white;
                                border-bottom: none;
                                border-radius: 10px 10px 0 0;
                                padding: 1em;
                                // height:4em;
                                font-weight: bold;
                            }
                            #blank{
                                flex-grow:1;
                                background-color: inherit;
                                cursor: default;
                                border-radius: 0;
                                border:none;
                                // border:1px solid yellow; 
                                border-bottom: 4px solid #ff5412;
                            }
                            label:hover{
                                cursor: pointer;
                            }

                            .content{
                                display: none;
                                // position:fixed;
                                // top:-2em;
                                border: 4px solid #ff5412;
                                border-top: none;
                                // height:  400px;
                                width:100%;
                                padding:1em;
                                order:1;
                                font-size: 1em;
                                ul{
                                    position:relative;
                                    left:1em;
                                    margin-right:0.25em;
                                    // border: 1px solid cyan;
                                }
                                a{
                                    color:inherit;
                                }
                            }

                            input:not(:checked) + label{
                                border-bottom: 4px solid #ff5412;
                                color: #ff5412;
                            }

                            input:checked + label{
                                display:block;
                                border: 4px solid #ff5412;
                                border-bottom: none;
                            }

                            input:checked + label + .content{
                                display:block;
                                
                            }
                        }

                        .skills{
                            // border:1px solid blue;
                            width:50%;
                            min-width:360px;
                            display:flex;
                            flex-direction: column;
                            padding:2em;
                            // border:4px solid cornflowerblue;
                            border-left: 2px solid cornflowerblue;
                            .title{
                                // border:1px solid blue;
                                @include heading;
                                color:#d4d4d9;
                                // height: 15vh;
                                width:100%;
                                margin-bottom:1em;
                            }
                            .fe{
                                .frontend{
                                    color:#fefefe;
                                    font-size:xx-large;
                                    padding-bottom: 0.5em;
                                }
                                // border:1px solid lightcoral;
                            }
                            .misc{
                                .miscellaneous{
                                    font-size:xx-large;
                                    padding-bottom: 0.5em;
                                    color:#fefefe;
                                }
                                // border:1px solid lightblue;
                            }
                            img{
                                display:block;
                                padding:0.5em;
                            }
                            .images{
                                // border:1px solid orange;
                                padding:1em 1em 1em 0;
                                display:flex;
                                flex-wrap: wrap ;
                            }
                        }

                    }
                }

                @media screen and (max-width:900px){
                    #xp-skills{
                        .modal{
                            flex-direction: column;
                            .past-exp-container{
                                width:100%;
                                // border:4px solid cornflowerblue;
                                border:none;
                                border-bottom: 2px solid cornflowerblue;
                                .content{
                                    height:300px;
                                    font-size: 1em;
                                    margin-bottom: 2em;
                                }
                            }

                            .skills{
                                width:100%;
                                // border:4px solid cornflowerblue;
                                border:none;
                                border-top: 2px solid cornflowerblue;
                                img{
                                    width:60px;
                                    height:60px;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width:600px){
                    #xp-skills{
                        .modal{
                            margin:0;
                            .past-exp-container{
                                width:100%;
                                label{
                                    font-size: 16px;
                                }
                                .content{
                                    font-size: 14px;
                                    height:400px;
                                    margin-bottom: 2em;
                                }
                            }

                            .skills{
                                width:100%;
                                .fe{
                                    .frontend{
                                        font-size: 24px;
                                    }
                                }
                                .misc{
                                    .miscellaneous{
                                        font-size: 24px;
                                    }
                                }
                                img{
                                    width:50px;
                                    height:50px;
                                }
                            }
                        }
                    }
                }

                
            }
    
            &:nth-of-type(3){
                background-color: #171717;
                color:#fefefe;
                min-width:360px;
                #projects{
                    // border: 10px solid black;
                    // max-width: 1200px;
                    
                    display:flex;
                    flex-direction: column;
                    flex-grow:1;
                    width:100%;
                    overflow-x: auto;
                    // border: 2px solid greenyellow;
                    
                    .title{
                        @include heading;
                        // margin:10px;
                        color:#d4d4d9;
                        width:100%;
                        // min-width: 1200px;
                        margin-top: 100px;
                        // border:2px solid red;
                        
                    }
            
                    .card-list{
                        display:flex;
                        // margin:10px;
                        margin-top: 40px;
                        flex-grow:1;
                        max-width: 100vw;
                        justify-content: center;
                        align-items:center;
                        // border:2px solid red; 
                        padding: 3em;
                        // border:3px solid #B026FF;
                    }
            
                    .card{
                        display:flex;
                        position:relative;
                        flex-direction: column;
                        justify-content: space-around;
                        background: #252324;
                        height: 400px;
                        min-width: 300px;
                        max-width: 300px;
                        padding: 1.25rem;
                        border-radius: 1em;
                        box-shadow: -.85rem 1rem 1.5rem #000;
                        transition: 300ms;
                        border:4px solid #ffaa34;
                        cursor: default;
                    }

                    .card-header{
                        height:75%;
                        // border:1px solid red;
                    }
            
                    .card-header > p{
                        margin-bottom:1em;
                        font-size: 1.5em;
                        font-weight: 700;
                        color:#abc1ec;
                        // border:2px solid;
                    }

                    .card-header > p > a{
                        color:inherit;
                        // text-decoration: none;
                    }
                    
                    .card:hover{
                        transform: translateY(-1rem);
                    }

                    .card:hover~.card {
                        transform: translateX(130px);
                    }
                    
                    .card:not(:first-child){
                        margin-left: -130px;
                    }
                    
                    .card-author {
                        position:relative;
                        right:1rem;
                        bottom:0rem;
                        display:grid;
                        grid-template-columns: 75px 1fr;
                        align-items:center;
                        /* margin:3rem 0 0; */
                        /* margin-right:4em; */
                        // border:2px solid blue; 
                        .author-name{
                            // border:1px solid red; 
                            position:relative;
                            left:0.5rem;
                            top:0.2rem;
                            color: #8ae08a;
                            font-weight: 800;
                        }
                    }
                    .author-avatar img {
                        display: block;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin: 16px 10px;
                    }

                }

                @media screen and (max-width:848px){
                    #projects{
                        .title{
                            font-weight: 800;
                        }

                        .card{
                            max-height:360px;
                            min-width:240px;
                            // max-width:250px;
                        }
                        .card-header > p{
                            margin-bottom:10px;
                            font-size: 1.5em;
                            // border:2px solid;
                        }

                        .card-header > h3{
                            font-size: 1em;
                            // border:2px solid;
                        }
                    }
                }

                @media screen and (max-width:600px){
                    #projects{
                        .title{
                            font-size: 36px;
                            margin-top:50px;
                            margin-bottom:0;
                            min-width: 360px;
                            font-weight: 800;

                        }
                        .card{
                            box-shadow: none;
                            margin:8px;
                            min-width: 300px;
                            max-width: 300px;
                            // height: 45vh;
                        }
                        .card-header{
                            h3{
                                font-size: 18px;
                            }
                        }
                        .card:not(:first-child){
                            margin-left: 0px;
                        }
                        .card-list{
                            margin-top: 0px;
                            flex-direction: column-reverse;
                            width:auto;
                            min-width: 360px;
                        }
                        .card:hover{
                            transform: translateY(0);
                        }
                        
                        .card:hover~.card {
                            transform: translateX(0);
                        }
                    }
                }

                @media screen and (max-width:360px) {
                    #projects{
                        .card{
                            width:200px;
                            height:300px
                        }
                    }
                }
            }
    
            &:nth-of-type(4){
                background-color: #202020; //#262626
                #contact-me{
                    // border:1px solid red;
                    width:100%;
                    height:100%;
                    overflow-x: auto;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    cursor: default;
                    .contact-card{
                        display: flex;
                        border:2px solid #505251;
                        color:#3f88ee;//#3589ff
                        border-radius: 1em;
                        flex-direction: column;
                        
                        max-width: 500px;
                        width:80%;
                        // justify-content: center;
                        min-width:275px;
                        // margin-left:20px;
                        padding:10px;
                        .title{
                            @include heading;
                            // border:2px solid navy;
                        }
            
                        .about{
                            // border:2px solid green;
                            text-align:justify;
                            margin-top: 0.5vw;
                            font-size:1.35em;
                        }
            
                        form{
                            // border:2px solid black;
                            padding: 12px 0px;
                            button{
                                border:none;
                                border-radius: 0.3rem;
                                padding:4px;
                                font-size: 1.25em;
                            }
                        }
            
                        form > .inp{
                            display:flex;
                            flex-direction: column;
                            margin: 8px 0;
                            
                            .field{
                                background: rgba($color: #ffffff, $alpha: 0.05);
                                color: #fff;
                                border: 0px solid;
                                margin-bottom:0.25vw;
                                font-size: 20px;
                            }
                            
                            label{
                                font-size: 18px;
                            }
                            textarea{
                                resize:none;
                            }
                            
                        }
                    }

                    .socials{
                        // border:1px solid gold;
                        display: flex;
                        
                        img{
                            display:block;
                        }
                        a{
                            text-decoration: none;
                            color:#fefefe;
                        }

                        a:hover{
                            color: #3f88ee;
                            background-color: #000;
                        }

                        .linkedin{
                            margin:0 4px;
                            display: flex;
                            padding: 4px;
                            border:2px solid #505251;
                            border-bottom: none;
                            border-radius: 8px 8px 0 0;
                            div{
                                padding:0 0 0 8px;
                            }
                        }
                        .github{
                            display: flex;
                            padding: 4px;
                            margin:0 4px;
                            img{
                                padding:1px;
                                background-color: #fefefe;
                                border-radius: 10px;
                            }
                            border:2px solid #505251;
                            border-bottom: none;
                            border-radius: 8px 8px 0 0;
                            div{
                                padding:0 0 0 8px;
                            }
                        }
                    }

                    button:hover{
                        background-color: #000;
                        cursor:pointer;
                    }
                }
            }
        }
    }

    @media screen and (max-width:600px){
        main{
            section{
                &:nth-of-type(1){
                    scroll-snap-align: none;
                    #about-me{
                        .intro{
                            .common{
                                .name{
                                    b{
                                        font-size: 42px;
                                    }
                                }
                                
                            }
                            .summary{
                                p{
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    scroll-snap-align: none;
                }
                &:nth-of-type(3){
                    scroll-snap-align: none;
                }
                &:nth-of-type(4){
                    scroll-snap-align: none;
                    #contact-me{
                        .title{
                            font-weight: 800;
                        }

                        .contact-card{
                            .about{
                                font-size: 1em;
                            }
                        }
                    }
                }

            }
        }
    }
}
